@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --primary-color: #19433c;
}

body {
  background: #F2F2F2;
  margin: 0;
  font-family: "Poppins";
}

  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Adjust the height as needed */
}

.card {
    margin-top: -170px;
    background-color: #fdfdfd;
    width: 600px;

}

button {
    width: 500px;
}