<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login and Signup Page</title>
  <link rel="stylesheet" href="../statics/styles/common.css">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.17/dist/tailwind.min.css" rel="stylesheet">
  <style>
    .hidden {
      display: none;
    }

    .underline {
      text-decoration: none;
    }

    .underline-clicked {
      text-decoration: underline;
    }
  </style>

  <link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="../statics/images/EVENTEASY Logo Design.png"
  />
</head>

<body class="bg-gray-100">
  <div class="flex justify-center items-center h-screen">
    <div class="bg-white p-8 rounded shadow-md">
      <div class="flex justify-center mb-4">
        <a id="loginLink" class="mr-4 bg-green-900 hover:bg-white hover:text-green-900 text-white underline font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Login</a>
        <a id="signupLink" class="bg-black hover:bg-white hover:text-green-900 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Signup</a>
      </div>
      <div id="loginForm" class="mb-8">
        <h2 class="text-lg text-center font-bold mb-4">Login</h2>
        <form>
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="email">Email</label>
            <input id="email" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="email" placeholder="Enter your email">
          </div>
          <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="password">Password</label>
            <div class="relative">
              <input id="password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="password" placeholder="Enter your password">
              <button type="button" class="toggle-password absolute inset-y-0 right-3 flex items-center text-gray-500" onclick="togglePassword('password')">
                👁️
              </button>
            </div>
          </div>
          
          <div class="flex items-center justify-between">
            <button id="signin" class="bg-green-900 hover:bg-white hover:text-green-900 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
              Sign In
            </button>
            <a class="inline-block align-baseline font-bold text-sm text-green-900 hover:bg-white hover:text-green-300 underline" href="http://127.0.0.1:5000/reset_password_token">
              Forgot Password?
            </a>
          </div>
        </form>
      </div>
      <div id="signupForm" class="hidden">
        <h2 class="text-lg text-center font-bold mb-4">Signup</h2>
        <form id="signup-form">
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="first-name">First Name</label>
            <input id="first-name" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="Enter your first name">
          </div>
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="last-name">Last Name</label>
            <input id="last-name" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="Enter your last name">
          </div>
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="signup-email">Email</label>
            <input id="signup-email" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="email" placeholder="Enter your email">
          </div>
          <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="signup-password">Password</label>
            <div class="relative">
              <input id="signup-password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="password" placeholder="Enter your password">
            </div>
          </div>
          <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="re-password">Re-Password</label>
            <div class="relative">
              <input id="re-password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="password" placeholder="Enter your password again">
              <button type="button" class="toggle-password absolute inset-y-0 right-3 flex items-center text-gray-500" onclick="togglePassword('password')">
                👁️
              </button>
            </div>
          </div>
          <!--div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="role">Role</label>
            <select id="role" name="role" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
                <option value="">Select Role</option>
                <option value="CLIENT">Client</option>
                <option value="SERVICE-PROVIDER">Service Provider</option>
            </select>
          </div-->
          <div class="flex items-center justify-between">
            <button id="sign_up" class="bg-green-900 hover:bg-white hover:text-green-900 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
              Sign Up
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script>
    function togglePassword(id) {
      const passwordInput = document.getElementById(id);
      if (passwordInput.type === "password") {
        passwordInput.type = "text";
      } else {
        passwordInput.type = "password";
      }
    }

    // Event listeners for toggling forms
    document.getElementById('loginLink').addEventListener('click', () => toggleForm('login'));
    document.getElementById('signupLink').addEventListener('click', () => toggleForm('signup'));

    function toggleForm(form) {
      if (form === 'login') {
        document.getElementById('loginForm').classList.remove('hidden');
        document.getElementById('signupForm').classList.add('hidden');
        document.getElementById('loginLink').classList.add('underline-clicked');
        document.getElementById('signupLink').classList.remove('underline-clicked');
      } else if (form === 'signup') {
        document.getElementById('loginForm').classList.add('hidden');
        document.getElementById('signupForm').classList.remove('hidden');
        document.getElementById('loginLink').classList.remove('underline-clicked');
        document.getElementById('signupLink').classList.add('underline-clicked');
      }
    }
  </script>
  <script src="../statics/scripts/login.js"></script>
  <script src="../statics/scripts/signup.js"></script>
  <script src="../statics/scripts/config.js"></script>
</body>

</html>
