<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventeasy - Services</title>
    <link rel="stylesheet" href="../statics/styles/services.css">
    <link rel="stylesheet" href="../statics/styles/common.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script type="module" src="../statics/scripts/header.js"></script>
    <script type="module" src="../statics/scripts/footer.js"></script>
</head>
<body>
    <my-header></my-header>

    <main>
        <section id="services">
            <h2>Our Services</h2>
            <div class="filter">
                <label for="category-select">Filter by category:</label>
                <select id="category-select">
                    <option value="all">All Services</option>
                    <option value="event-coverage">Event Coverage</option>
                    <option value="catering">Catering</option>
                </select>
            </div>
            <div class="service-list" id="service-list">
                <!--div class="service" data-category="event-coverage">
                    <a href="service1.html">
                        <img src="../statics/images/wedding 2.jpg" alt="Photography">
                        <h3>Photography</h3>
                    </a>
                    <p>Capture your moments with professional photography services.</p>
                </div>
                <div class="service" data-category="event-coverage">
                    <a href="service2.html">
                        <img src="../statics/images/conference 1.jpg" alt="Videography">
                        <h3>Videography</h3>
                    </a>
                    <p>Relive your events with our expert videography services.</p>
                </div>
                <div class="service" data-category="catering">
                    <a href="service3.html">
                        <img src="../statics/images/catering 1.jpg" alt="Event Planning">
                        <h3>Event Planning</h3>
                    </a>
                    <p>Seamlessly plan your events with our top-notch planners.</p>
                </div-->
            </div>
        </section>
    </main>

    <my-footer></my-footer>

    <script src="../statics/scripts/services.js"></script>
</body>
</html>

</html>
